mat-card {
    width: 500px;
    text-align: center;
}

.centerer{
    display: flex;
    justify-content: center;
}

button{
    margin: 5px;
}

p{
    margin: 0;
}

mat-card-title{
    margin: 10px 0;
}
